@import "variables";
@import "hero-section";
@import "about";
@import "apply";
@import "faq";
@import "footer";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $pale-orange;

  font-family: $font-body;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
}

.main-wrapper {
  width: 1600px;
}

h2 {
  font-family: $font-button;
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $red;
}

.get-started-button {
  background: $red;
  border: 0;
  margin: 0;
  border-radius: 5px;

  width: 220px;
  height: 60px;

  font-family: $font-button;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;

  padding: 20px 80px 20px 20px;
  background-image: url("../assets/images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 25px center;
  background-size: auto 12px;
  background-color: $red;

  cursor: pointer;
}
